/* Layout */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3";
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333333;
}

header,
main,
footer {
  width: 100vw;
  height: auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
  width: 1536px;
  margin: 0 auto 5px;
  padding: 1.5rem;
}

#navigation,
#hero,
#about,
#gallery,
#contact,
#footer {
  height: auto;
}

main {
  padding-top: 5rem;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation img {
  width: 100px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navigation ul li {
  padding: 0 2rem;
}

.navigation a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.5s;
  color: #333333;
}

.navigation a:hover {
  background-color: #a583ee;
}

.navigation .hamburger-icon,
.navigation .xicon {
  width: 30px;
  height: 30px;
  display: none;
  transition: 0.5s;
}

/* Hero */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

#hero h1 {
  font-size: 6rem;
  font-weight: 800;
  margin: 0;
}

#hero h1 span {
  color: #7843e9;
}

#hero p {
  font-size: 1.5rem;
}

#hero .button {
  background-color: #7843e9;
  color: #fafafa;
  font-weight: bold;
  border: 5px solid #5e1fe4;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 2rem;
  transition: transform 0.3s ease-out;
}

#hero .button:hover,
#contact .button:hover {
  background-color: #8658e7;
  transform: translateY(-4px);
  cursor: pointer;
}

#hero .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 215px;
  padding: 5px;
  margin-top: 2rem;
  background-color: #fafafa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#hero .social img:hover {
  background-color: #ab8debdc;
  border-radius: 5px;
  cursor: pointer;
}

/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

#about > h1 {
  font-size: 4rem;
  color: #8658e7;
}

#about .about-container {
  display: flex;
  width: 100%;
  gap: 10px;
  transition: filter 0.3s ease, transform 0.3s ease-out;
}
#about .about-container .about img{
  filter: grayscale(50%);
  transition: filter 0.3s ease, transform 0.3s ease-out;
}
#about .about-container .about img:hover{
  filter: grayscale(0%);
  transform: translateY(-4px);
  cursor: pointer;
}

#about .image img {
  width: 300px;
  filter: grayscale(50%);
  transition: filter 0.3s ease, transform 0.3s ease-out;
}

#about .image img:hover {
  filter: grayscale(0%);
  transform: translateY(-4px);
  cursor: pointer;
}

#about .about-container div {
  width: 33.33%;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#about .about-container ul li {
  list-style-type: none;
}

#about .about,
#about .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Gallery Section */
#gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafafa;
}

#gallery > h1 {
  font-size: 4rem;
  color: #8658e7;
  text-align: center;
}

#gallery .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .image-container img {
  width: 20%;
  height: auto;
  margin: 0.5rem;
  transition: transform 0.3s ease-out;
}

#gallery .image-container img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transform: translateY(-4px);
  cursor: pointer;
}

/* Contact Section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > h1 {
  font-size: 4rem;
  color: #8658e7;
  text-align: center;
}

#contact .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 600px;
  height: 70%;
  padding: 3% 5%;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#contact .form input,
#contact .form textarea {
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
}

#contact .form input:focus,
#contact .form textarea:focus {
  outline: none;
}

#contact p,
#contact h3 {
  margin: 0;
}

#contact .button {
  background-color: #7843e9;
  color: #fafafa;
  font-weight: bold;
  border: 5px solid #5e1fe4;
  font-size: 1.7rem;
  border-radius: 10px;
  padding: 5px 25px;
  margin: auto;
  transition: transform 0.3s ease-out;
}

/* Footer Section */
footer {
  width: 100vw;
  height: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer img:hover {
  background-color: #ab8debdc;
  border-radius: 5px;
  cursor: pointer;
}

footer .copy {
  margin: auto;
}

/* Media Queries */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  #contact .button {
    font-size: 1.5rem;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  #hero h1 {
    font-size: 5rem;
  }

  #hero p {
    font-size: 1.3rem;
  }

  #hero .button {
    font-size: 1.8rem;
  }

  #hero .social img {
    width: 55px;
    height: 55px;
  }

  #about .image img {
    width: 240px;
  }

  #about .about-container {
    font-size: 0.8rem;
  }

  #about > h1 {
    font-size: 3rem;
  }

  #gallery > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  #contact > p {
    font-size: 1rem;
  }

  #contact > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .navigation .hamburger-icon {
    display: block;
  }

  .navigation ul li {
    display: none;
  }

  .navigation div {
    display: flex;
  }

  .navigation ul{
    flex-direction: column;
    position: absolute;
    right: 40%;
  }

  .navigation div.active ul li {
    display: block;
    padding-left: 0;
  }

  .navigation div.active .hamburger-icon {
    display: none;
  }

  .navigation div.active .xicon {
    display: block;
  }

  .navigation li {
    padding-left: 2.5rem;
  }

  .navigation li a {
    font-size: 1.3rem;
  }

  #hero h1 {
    font-size: 4.4rem;
  }

  #hero p {
    font-size: 1.1rem;
  }

  #hero .button {
    font-size: 1.3rem;
  }

  #about .image img {
    width: 200px;
  }

  #about .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.6rem;
    justify-content: flex-start;
  }

  #about .about-container div {
    width: auto;
    max-height: 100%;
  }

  #about > h1 {
    font-size: 2rem;
  }

  #gallery > h1 {
    font-size: 2rem;
  }

  #contact .form {
    width: 500px;
  }

  #contact .button {
    font-size: 1.5rem;
  }

  #contact > h1 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .navigation li {
    padding-left: 1.5rem;
  }

  .navigation li a {
    font-size: 1rem;
  }

  #hero h1 {
    font-size: 3rem;
  }

  #hero p {
    font-size: 0.8rem;
  }

  #hero .button {
    font-size: 1rem;
  }

  #hero .social img {
    width: 50px;
    height: 50px;
  }

  #about .image img {
    width: 140px;
  }

  #about .about-container {
    font-size: 0.4rem;
  }

  #about > h1 {
    font-size: 1.5rem;
  }

  #gallery > h1 {
    font-size: 1.5rem;
  }

  #contact .form {
    width: 100%;
  }

  #contact > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero p {
    font-size: 0.6rem;
  }

  #hero .button {
    font-size: 0.7rem;
  }

  #hero .social img {
    width: 44px;
    height: 44px;
  }

  .navigation div {
    justify-content: center;
  }

  .navigation img {
    width: 80px;
  }

  .navigation li {
    padding-left: 1rem;
  }
}

@media (max-width: 375px) {
  #hero h1 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 0.5rem;
  }

  #hero .button {
    font-size: 0.5rem;
    padding: 0 30px;
  }

  #hero .social img {
    width: 35px;
    height: 35px;
  }
}
